doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/admin.css')
        link(rel='icon' type='image/png' href='/images/favicon.png')
        script(src='https://code.jquery.com/jquery.min.js')
        script(src="/socket.io/socket.io.js")
        script(src='/javascripts/palette.js')
        script(src='/javascripts/util.js')
        script(src='/javascripts/render.js')
        script(src='/javascripts/client.js')
        script(src='/javascripts/admin.js')
    body
        block content
            #header
                nav
                    .container
                        .top-part
                            a.branding(href='https://delftschestudentenbond.nl/' target="_blank")
                                img.bonds-embleem(alt='logo', src='/images/f105293.png')
                                img.bonds-tekst(alt='logo', src='/images/4b5c64e.png')
                        .banner
                            h1.game-title Pixel Place
                        .nav-items
                            a.nav-item.button.primary(href='https://dsbowee.nl/inschrijven' target="_blank") Lid Worden
                            a.nav-item.button.secondary(href='https://delftschestudentenbond.nl' target="_blank") Website
            #authenticate
                .home-container
                    .login
                        h1.caption Log in als admin!
                        label(for="admin-code") Admin wachtwoord
                        input#admin-code(type="text" maxlength="32")
                        p#admin-error.error
                        button#create.go Start
            #app
                div(style='margin-top: 90px')
                    .canvas-container
                        canvas#canvas(height='700' width='1000')
                        #cooldown
                    .admin-container
                        .pause_control
                            h3 Game status:
                            span#status(style='display: inline-block')
                            br
                            button#pause.button Pause
                            button#unpause.button Unpause
                        .cooldown_control
                            h3 Cooldown:
                            span#currentcd 5s
                            br
                            button#cd_up.button +1
                            button#cd_down.button -1
                        .random_pixel_control
                            h3(style='margin-bottom:2px') Random pixels:
                            span#random_pixel_status STOPPED
                            br
                            h5 Current interval:
                            span#current_interval 10000ms
                            br
                            button#start.button Start
                            button#stop.button Stop
                            textarea#custom_interval(placeholder='10000')
                            button#submit_interval.button Submit custom interval
                        .reset_control
                            h3 Reset canvas
                            br
                            button#reset.button RESET
                div(style='clear: both;')
                .tools-container
                    #palette
                        span.selected(style='background-color: rgb(255, 255, 255)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(228, 228, 228)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(136, 136, 136)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(34, 34, 34)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(255, 167, 209)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(229, 0, 0)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(229, 149, 0)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(160, 106, 66)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(229, 217, 0)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(148, 224, 68)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(2, 190, 1)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(0, 211, 221)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(0, 131, 199)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(0, 0, 234)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(207, 110, 228)' onclick='onPaletteClick(this)')
                        span(style='background-color: rgb(130, 0, 128)' onclick='onPaletteClick(this)')
                    .online-container
                        span#online-text 0
                        svg(fill='currentColor' preserveaspectratio='xMidYMid meet' height='1em' width='1em' viewbox='0 0 40 40' style='vertical-align: middle')
                            g
                                path(d='m35.9 31.4q0 2.6-1.6 4.2t-4.3 1.5h-19.5q-2.7 0-4.4-1.5t-1.6-4.2q0-1.2 0.1-2.3t0.3-2.5 0.6-2.4 0.9-2.2 1.4-1.8 1.9-1.2 2.5-0.4q0.2 0 1 0.5t1.6 1 2.4 1.1 3 0.5 3-0.5 2.4-1.1 1.7-1 0.9-0.5q1.4 0 2.5 0.4t1.9 1.2 1.4 1.8 0.9 2.2 0.6 2.4 0.4 2.5 0 2.3z m-7.1-20q0 3.6-2.5 6.1t-6.1 2.5-6-2.5-2.6-6.1 2.6-6 6-2.5 6.1 2.5 2.5 6z')
                    .coordinate-container
                        span#coordinate-text (0, 0)
                .spacer