
.home-container {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.login {
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.go {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    margin: 10px;
    left: 50%;
    border: 0;
    cursor: pointer;
    background-color: rgba(0, 71, 171, 1);
    color: white;
}

.go:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1);
}
.error {
    visibility: hidden;
    color: red;
}




#app {
    display: none;
}
#game {
    overflow: hidden;
    margin-top: 90px;
    display: block;
}

.canvas-container {
    float: left;
    margin-left: 200px;
}

.admin-container {
    margin-left: 20px;
    width: 500px;
    height: 700px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    float: left;
    background-color: white;
    border-radius: 10px;
}

.admin-container h3 {
    display: inline-block;
    margin-left: 10px;
}
.admin-container h5 {
    display: inline-block;
    margin: 0 0 0 10px;
}

.admin-container span {
    margin-left: 20px;
}

.admin-container textarea {
    margin-left: 20px;
    margin-top: 10px;
    width: 220px;
    height: 17px;
    resize: none;
    overflow: auto;
}

.button {
    margin: 3px;
    margin-inline: 5px;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#app .tools-container {
    margin-left: 200px;
}
.spacer {
    width: 504px;
    height: 125px;
    margin: 10px 20px auto;
    float: left
}

