@font-face {
  font-family: "Quicksand";
  src: url("../Quicksand/Quicksand-VariableFont_wght.ttf");
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  touch-action: none;
  user-select: none;
  overflow: scroll;
  overflow-x: hidden;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99001;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,.05);
  transition: .15s;
  height: 76px;
  background: rgba(242,208,59,.92);
}
nav .container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 76px;
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
nav .top-part {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
nav .branding {
  display: flex;
  align-items: center;
  height: 64px;
  margin: 6px 0;
  text-decoration: none;
  color: #05518b;
}
nav .bonds-embleem, nav .bonds-tekst {
  height: 64px;
}
nav .bonds-tekst {
  margin-right: 10px;
}
nav .nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
nav .nav-item.button.primary {
  border: 1px solid #05518b;
  background: #05518b;
  color: #fff;
}
nav .nav-item.button.secondary {
  border: 1px solid #262626;
  background: #262626;
  color: #f2d03b;
}
nav .nav-item.button {
  border: 1px solid #05518b;
  background: #f2d03b;
  color: #05518b;
  padding: 8px 15px;
  border-radius: 4px;
  margin-right: 0;
  height: auto;
  line-height: normal;
}
nav a.nav-item {
  cursor: pointer;
  text-decoration: none;
}
nav .nav-item {
  cursor: default;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: inset 0 0 #05518b;
}
nav .banner {
  width: 65%;
}
nav .banner h1 {
  text-align: center;
  font-size: 50px;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: Muli,sans-serif;
  text-shadow: 0 2px 4px rgba(0,0,0,.25);
}

#cooldown {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(250, 250, 250);
  text-align: center;
  vertical-align: middle;
  line-height: 42px;
  width: 5em;
  height: 42px;
  border-radius: 21px;
  padding: 0px 1.5em;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#canvas {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

#app .tools-container {
  background: rgba(242,208,59,.92);
  border-radius: 10px;
  height: 125px;
  position: relative;
  width: 1000px;
  margin: 10px auto auto;
  border: 2px solid black;
}
#app .tools-container .online-container, #app .tools-container .coordinate-container {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(250, 250, 250);
  text-align: center;
  vertical-align: middle;
  line-height: 42px;
  width: auto;
  display: inline-block;
  height: auto;
  border-radius: 21px;
  padding: 0 1.5em;
  white-space: nowrap;
}
#app .tools-container .online-container {
  position: absolute;
  height: 42px;
  left: 1em;
  top: 4em;
}
#app .tools-container .coordinate-container {
  position: absolute;
  height: 42px;
  left: 1em;
  top: 1em;
}

#palette {
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(250, 250, 250);
  text-align: center;
  vertical-align: middle;
  line-height: 0;
  width: 16em;
  height: 4em;
  border-radius: 4px;
  padding: 5px;
  left: 0;
  top: 50%;
  bottom: 50%;
  position: absolute;
  right: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
#palette span{
  display: block;
  width: 2em;
  height: 2em;
  z-index: 1;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}
#palette .selected,
#palette span:hover {
  z-index: 2 !important;
  outline: 2px solid #fff;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.75);
}